<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CFBundleName</key>
	<string>blue</string>

	<key>CFBundleExecutable</key>
	<string>blue</string>

    <key>CFBundleIcon</key>
    <string>blue</string>

    <key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>1.0</string>

	<key>CFBundleVersion</key>
	<string>1</string>

	<key>CFBundleIconFile</key>
    <string>blue</string>
	
    <key>CFBundleIconName</key>
    <string>blue</string>

    <key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 JB Rose Pty Ltd</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleDisplayName</key>
	<string>blue display</string>

</dict>
</plist>
